# EXTRACCION DE DATOS

## Conexion a la BD

In [1]:
import psycopg2
import sys
import pprint
from datetime import date, timedelta
import pandas as pd

#Connect to RedShift

# print ("Connecting to database ->{}".format(conn_string))
conn = psycopg2.connect(conn_string);

/home/jkn/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Consulta

In [2]:
#Captures Column Names 
column_names = [];
query = """
SELECT client_id,
       date,
       SUBSTRING(date,1,4) as año, 
       SUBSTRING(date,6,2) as mes, 
       SUBSTRING(date,9,2) as dia, 
       SUBSTRING(date,12,2) as hora,
       merchant_departement,
       merchant_province,
       merchant_district,
       mcc,
       mccg,
       CASE WHEN 1 = 1 THEN 1 ELSE 0 END as quantity,
       amount_sol
FROM transaction
WHERE merchant_departement = 'LIMA'
      AND merchant_province = 'LIMA'
      AND mcc != 0 
      AND amount_sol > 0
      AND date <= '2017-05-31' and date >= '2016-03-01' 
ORDER BY client_id
LIMIT 2000000
"""
data = pd.read_sql(query, conn)

print("Numero de TXs: ",len(data))
data.head(5)

Numero de TXs:  2000000

,client_id,date,año,mes,dia,hora,merchant_departement,merchant_province,merchant_district,mcc,mccg,quantity,amount_sol
0,+++g8j9k+5A=,2016-09-27 01:37:23,2016,09,27,01,LIMA,LIMA,San Juan De Miraflor,5912,15,1,107.0
1,+++g8j9k+5A=,2016-06-24 03:35:00,2016,06,24,03,LIMA,LIMA,Magdalena Del Mar,5912,15,1,58.0
2,+++g8j9k+5A=,2017-04-29 03:15:16,2017,04,29,03,LIMA,LIMA,Miraflores,6300,17,1,153.0
3,+++g8j9k+5A=,2017-03-01 05:47:02,2017,03,01,05,LIMA,LIMA,Miraflores,6300,17,1,110.0
4,+++g8j9k+5A=,2016-06-24 03:36:43,2016,06,24,03,LIMA,LIMA,Magdalena Del Mar,5912,15,1,47.0

## Guardado de Datos

In [3]:
data = data.sort_values(by=['client_id'])
data.to_csv('./data/consulta.csv',index=False)