# Analisis de Datos

In [1]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt

## Cargar Datos

In [2]:
footprint='./data2/U.json.individual_footprint'
footprint = pd.read_csv(footprint, sep=",", header=0)
footprint.rename(columns={'customer_id':'customer_tag'}, inplace=True)
footprint.head(3)

,customer_tag,year,week,profile_id,turn,size,d0t0,d1t0,d2t0,d3t0,...,d4t2,d5t2,d6t2,d0t3,d1t3,d2t3,d3t3,d4t3,d5t3,d6t3
0,+++g8j9k+5A=,2016,39,0,0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,+++g8j9k+5A=,2016,25,1,0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,+++g8j9k+5A=,2016,22,2,2,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
individual_cluster='./data2/U.json.individual_footprint.labels'
individual_cluster = pd.read_csv(individual_cluster, sep=";", header=0, index_col=False)
individual_cluster.head(3)

,customer_tag,year,week,individual_cluster,d0t0,d1t0,d2t0,d3t0,d4t0,d5t0,...,d4t2,d5t2,d6t2,d0t3,d1t3,d2t3,d3t3,d4t3,d5t3,d6t3
0,+++g8j9k+5A=,2016,39,0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,+++g8j9k+5A=,2016,25,2,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,+++g8j9k+5A=,2016,22,4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
collective_cluster='./data2/U.json.collective_footprint.labels'
collective_cluster = pd.read_csv(collective_cluster, sep=";", header=0, index_col=False)
collective_cluster.head(3)

,customer_tag,individual_cluster,collective_cluster,d0t0,d1t0,d2t0,d3t0,d4t0,d5t0,d6t0,...,d4t2,d5t2,d6t2,d0t3,d1t3,d2t3,d3t3,d4t3,d5t3,d6t3
0,+++g8j9k+5A=,0,39,1.468571,0.0,1.468571,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,+++g8j9k+5A=,1,31,2.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,+++g8j9k+5A=,2,20,1.660448,0.0,0.000000,0.0,0.0,1.660448,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Cohesión de Datos

In [7]:
result = pd.merge(individual_cluster, collective_cluster, on=['customer_tag', 'individual_cluster'])
result = result.iloc[:, :-28]
result= pd.merge(footprint, result, on=['customer_tag','year', 'week'])

In [6]:

result= pd.merge(footprint, result, on=['customer_tag','year', 'week'])
result.drop(result.columns[[13,14,15,16,17,18,19,21,22,23,24,25,26,27]], axis=1, inplace=True)

In [ ]:
result[['collective_cluster']].head(3)

In [ ]:
result.iloc[:, :-29].head(3)

In [8]:
pd.concat([result.iloc[:1, :-29], result[['collective_cluster']]], axis=1).head(3)

,customer_tag,year,week,profile_id,turn,size,d0t0,d1t0,d2t0,d3t0,...,d6t2,d0t3,d1t3,d2t3,d3t3,d4t3,d5t3,d6t3,individual_cluster,collective_cluster
0,+++g8j9k+5A=,2016.0,39.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13

In [ ]:
result.head(5)

## Salvar Resultados

In [ ]:
result.to_csv('./data2/resultados.csv',index=False)

## Grafico

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
nn= result.groupby(['collective_cluster'], as_index=False, sort=True)['customer_tag'].count()

fig, ax = plt.subplots()
ax.bar(nn.index, nn['customer_tag'], align='center')
ax.grid(color='gray', linestyle='--', linewidth=1)

ax.set_xlabel('Año')
ax.set_xticks(nn.index)

ax.set_ylabel('Frecuencia')
tag =[]
for i in range(len(nn)):
    temp = 'Cluster '+ str(i+1)+''
    tag.append(temp)
    
ax.set_xticklabels(tag, rotation=80)
ax.set_title('Histograma')
plt.show()

### Prueba codigo tabla

In [ ]:
from matplotlib import pyplot as plt
import numpy as np
randn = np.random.randn
from pandas import *

idx = Index(np.arange(1,11))
df = DataFrame(randn(10, 5), index=idx, columns=['A', 'B', 'C', 'D', 'E'])
vals = np.around(df.values,2)
normal = plt.Normalize(vals.min()-1, vals.max()+1)

fig = plt.figure(figsize=(15,8))
ax = fig.add_subplot(111, frameon=True, xticks=[], yticks=[])

the_table=plt.table(cellText=vals, rowLabels=df.index, colLabels=df.columns, 
                    colWidths = [0.15]*vals.shape[1], loc='center', 
                    cellColours=plt.cm.hot(normal(vals)))